<%= form_for(@sub_page) do |f| %>
  <% if @sub_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_page.errors.count, "error") %> prohibited this sub_page from being saved:</h2>

      <ul>
      <% @sub_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br />
    <%= f.number_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :browser_title %><br />
    <%= f.text_field :browser_title %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br />
    <%= f.text_field :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br />
    <%= f.text_field :meta_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
