<h1>Listing sub_pages</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Title</th>
    <th>Content</th>
    <th>Browser title</th>
    <th>Meta keywords</th>
    <th>Meta description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_pages.each do |sub_page| %>
  <tr>
    <td><%= sub_page.page_id %></td>
    <td><%= sub_page.title %></td>
    <td><%= sub_page.content %></td>
    <td><%= sub_page.browser_title %></td>
    <td><%= sub_page.meta_keywords %></td>
    <td><%= sub_page.meta_description %></td>
    <td><%= link_to 'Show', sub_page %></td>
    <td><%= link_to 'Edit', edit_sub_page_path(sub_page) %></td>
    <td><%= link_to 'Destroy', sub_page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub page', new_sub_page_path %>
